# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/cars1.csv) and [cars2](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [3]:
url1 = 'https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/cars1.csv'
url2 = 'https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/cars2.csv'

cars1 = pd.read_csv(url1)
cars2 = pd.read_csv(url2)

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [4]:
cars1 = cars1.loc[:, "mpg":"car"]
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [5]:
print(cars1.shape[0])
print(cars2.shape[0])

198
200

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [13]:
cars = pd.concat([cars1, cars2])
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [14]:
nr_owners = np.random.randint(15000, high=73001, size=398, dtype='l')
nr_owners

array([50172, 68705, 21809, 49731, 66940, 37837, 15381, 56917, 37235,
       15444, 62617, 64925, 40421, 58402, 55812, 26219, 69919, 53433,
       23383, 39544, 34571, 70767, 63737, 51852, 44300, 43481, 72756,
       26545, 27215, 27590, 52693, 72502, 47702, 51217, 56616, 70561,
       25150, 27710, 19198, 25072, 55027, 43330, 24661, 66097, 66359,
       52865, 29658, 70537, 26221, 48936, 25450, 62153, 24046, 58083,
       16577, 35501, 43033, 33694, 56597, 31441, 26112, 17704, 25870,
       31014, 57980, 49672, 37667, 27434, 33718, 29422, 64790, 25209,
       59479, 22016, 27058, 15009, 43938, 28559, 49216, 38188, 40527,
       66992, 16774, 54587, 23963, 55870, 38879, 23834, 25021, 35869,
       70226, 51150, 68051, 54357, 56820, 63301, 36895, 66980, 42893,
       30699, 30475, 55349, 17363, 28047, 55899, 64092, 21309, 27839,
       49192, 72635, 40199, 46920, 55090, 49759, 49317, 28254, 43907,
       19755, 40573, 29737, 29113, 50948, 55295, 69415, 42312, 33625,
       30297, 69299, 52265, 32926, 72845, 61177, 36728, 59210, 59573,
       60435, 45506, 42654, 66352, 43382, 40205, 55629, 55197, 30788,
       22691, 31716, 51846, 20990, 58502, 19447, 40273, 62401, 32896,
       64060, 44691, 43476, 20296, 20526, 25042, 59035, 27040, 68982,
       50612, 40659, 55632, 68128, 38720, 56329, 38372, 39725, 62784,
       46749, 72874, 69014, 27603, 18006, 32082, 42391, 34737, 58620,
       59599, 41074, 70493, 69841, 57023, 28659, 63477, 19784, 47381,
       52797, 45268, 59181, 55250, 60820, 26063, 59600, 38839, 32993,
       57724, 30359, 46186, 33745, 32999, 23825, 45627, 41679, 69593,
       49406, 27643, 45661, 54790, 65635, 29000, 36669, 44253, 59959,
       28831, 38567, 21343, 44674, 26902, 21493, 17613, 72611, 29243,
       16353, 36856, 30831, 32081, 52349, 51300, 25763, 27199, 22325,
       36828, 62027, 32574, 52187, 29292, 39887, 50516, 56362, 39562,
       54469, 69588, 67685, 37513, 52144, 61484, 53413, 53430, 15317,
       48361, 61852, 51908, 59606, 60047, 26646, 71083, 38765, 67365,
       53162, 23090, 20299, 59745, 28232, 34709, 69398, 32531, 15443,
       46474, 55725, 46428, 58524, 50324, 64040, 67293, 27905, 68529,
       40505, 59141, 15480, 50130, 39224, 52711, 46266, 72750, 27722,
       18084, 70344, 25623, 37195, 19713, 66348, 62867, 58442, 44060,
       34486, 29442, 35504, 51530, 63330, 55433, 70516, 63940, 71821,
       37698, 65413, 34953, 37317, 57049, 68395, 53701, 25951, 58050,
       60289, 55573, 17643, 16938, 26239, 53674, 28167, 26429, 35560,
       62337, 62886, 66748, 66476, 53828, 59998, 30266, 67934, 64645,
       48487, 55235, 24891, 37715, 41500, 61852, 43831, 27551, 24336,
       51118, 51107, 17947, 37611, 19167, 57139, 42839, 36636, 66648,
       38937, 65274, 42524, 65080, 47228, 25680, 69138, 29339, 35729,
       44137, 50587, 27676, 34990, 69557, 67108, 17245, 23290, 25368,
       33848, 43024, 65054, 25806, 40986, 30035, 30268, 58317, 61528,
       23860, 18887, 56816, 30476, 30083, 55763, 55549, 71940, 63891,
       52799, 61113, 55623, 15921, 45324, 19579, 43528, 35656, 40445,
       42842, 60643])

### Step 8. Add the column owners to cars

In [15]:
cars['owners'] = nr_owners
cars.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,43528
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,35656
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,40445
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,42842
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,60643